﻿@model ClassroomFund.ScheduleUI.Controllers.AddRoomSecondStepModel

@{
    ViewBag.Title = "Добавление аудитории";
    Layout = "_Layout";
    var roomId = Guid.NewGuid();
    var roomInfoId = Guid.NewGuid();
    string roomNumberFormat = String.Format("{0}-{1}", 
        new string(Model.FloorInfo.BuildingNavigation
            ?.Name
            ?.SkipWhile(e => !Char.IsDigit(e))
            .TakeWhile(e => Char.IsDigit(e))
            .ToArray()),
        Model.FloorInfo?.FloorNumber);
}

<h2>Последний шаг</h2>
<h5>
    Заполните информацию об аудитории. После заполнения вы можете либо вернуться на основную страницу, либо добавить аудиторию на тот же этаж
</h5>
<hr/>
<form id="addRoomForm" asp-action="AddRoomComplete" method="post" name="model">
    <div class="row">
        <div class="col">
            <div class="card m-1">
                <div class="card-header">
                    <h5>Сводка:</h5>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div class="input-group m-1">
                            <span class="input-group-text w-25" id="roomLabel">Номер аудитории: </span>
                            <input type="text" class="form-control" aria-describedby="roomLabel" asp-for="NewRoom.RoomNumber" value="@roomNumberFormat">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="input-group m-1">
                            <span class="input-group-text w-25" id="seatsLabel">Посадочных мест: </span>
                            <input type="number" class="form-control" aria-describedby="seatsLabel" asp-for="NewRoom.Seats">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="input-group m-1">
                            <span class="input-group-text w-25" id="areaLabel">Площадь: </span>
                            <input type="number" step="0.1" class="form-control" aria-describedby="areaLabel" asp-for="NewRoom.Area">
                        </div>
                    </div>
                    <div class="list-group-item d-flex">
                        <span class="input-group-text w-25" id="lastMaintenanceLabel">Последний ремонт: </span>
                        <input type="date" class="form-control w-75" aria-describedby="lastMaintenanceLabel" asp-for="NewRoom.LastMaintenance">
                    </div>
                    <div class="list-group-item d-flex">
                        <span class="input-group-text w-25" id="roomTypeLabel">Тип аудитории: </span>
                        <select class="form-control w-75" asp-for="NewRoom.RoomTypeId" asp-items="Model.RoomTypes" aria-describedby="roomTypeLabel"></select>
                    </div>
                    <div class="list-group-item d-flex">
                        <span class="input-group-text w-25" id="roomTargetLabel">Назначение аудитории: </span>
                        <select class="form-control w-75" asp-for="NewRoom.RoomTargetId" asp-items="Model.RoomTargets" aria-describedby="roomTargetLabel"></select>
                    </div>
                    <div class="list-group-item d-flex">
                        <span class="input-group-text w-25" id="departmentsLabel">Кафедра: </span>
                        <select class="form-control w-75" asp-for="NewRoom.DepartmentId" asp-items="Model.Departments" aria-describedby="departmentsLabel"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card m-1">
                <div class="card-header">
                    <h5>Карточка аудитории:</h5>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div class="input-group m-1">
                            <span class="input-group-text w-25" id="ceilingLabel">Потолок: </span>
                            <input type="text" class="form-control" aria-describedby="ceilingLabel" asp-for="NewRoomProperties.Ceiling">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="input-group m-1">
                            <span class="input-group-text w-25" id="wallsLabel">Стены: </span>
                            <input type="text" class="form-control" aria-describedby="wallsLabel" asp-for="NewRoomProperties.Walls">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="input-group m-1">
                            <span class="input-group-text w-25" id="windowsLabel">Окна: </span>
                            <input type="text" class="form-control" aria-describedby="windowsLabel" asp-for="NewRoomProperties.WindowsType">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="input-group m-1">
                            <span class="input-group-text w-25" id="floorLabel">Пол: </span>
                            <input type="text" class="form-control" aria-describedby="floorLabel" asp-for="NewRoomProperties.FloorMaterial">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="input-group m-1">
                            <span class="input-group-text w-25" id="doorsLabel">Двери: </span>
                            <input type="text" class="form-control" aria-describedby="doorsLabel" asp-for="NewRoomProperties.Doors">
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="input-group m-1">
                            <span class="input-group-text w-25" id="lamosLabel">Светильников: </span>
                            <input type="number" min="0" class="form-control" aria-describedby="lamosLabel" asp-for="NewRoomProperties.LampsCount">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-outline-primary my-1" onclick="saveBehaviour(false)">Сохранить и продолжить</button>
        <button class="btn btn-outline-primary my-1" onclick="saveBehaviour(true)">Сохранить и добавить ещё одну</button>
    </div>
    <input type="hidden" asp-for="NewRoom.BuildingId" value="@Model.FloorInfo?.Building"/>
    <input type="hidden" asp-for="NewRoom.FloorId" value="@Model.FloorId.ToString("D")"/>
    <input type="hidden" asp-for="NewRoom.RoomFloor" value="@Model.FloorInfo?.FloorNumber"/>
    <input type="hidden" asp-for="RoomMap" value="@Json.Serialize(Model.RoomMap)"/>
    <input type="hidden" asp-for="NewRoom.Id" value="@roomId"/>
    <input type="hidden" asp-for="NewRoomProperties.Id" value="@roomInfoId"/>
    <input type="hidden" asp-for="NewRoomProperties.RoomId" value="@roomId"/>
    <input type="hidden" id="saveAndGoBackId" asp-for="SaveAndGoBack" value="false"/>
</form>

<script>
    function saveBehaviour(goBack: Boolean){
        document.getElementById("saveAndGoBackId").value = goBack;
    }
    document.getElementById("addRoomForm").submit();
</script>