﻿@model ClassroomFund.Models.FloorInfo

@{
    ViewBag.Title = "Добавление аудитории";
    Layout = "_Layout";
}

<h2>Первый шаг:</h2>
<h5>Выделите на схеме этажа добавляемую аудиторию</h5>

<div class="row">
    <div class="col">
        <div id="imageSelect">

        </div>
    </div>
    <div class="col-3">
        <div class="e-card">
            <div class="e-card-header">
                <span class="fs-5 fw-bolder">Заметка</span>
            </div>
            <div class="e-card-body">
                <ul>
                    <li>
                        Отмена действия: <span class="fw-bolder">Ctrl+Z</span>
                    </li>
                    <li>
                        Кликайте последовательно по краям аудитории для выделения.
                    </li>
                    <li>
                        После того как контур будет замкнут, нажмите на кнопку далее.
                    </li>
                </ul>
            </div>
        </div>
        <div class="e-card">
            <div class="e-card-body">
                <div class="btn btn-group">
                    <button class="btn btn-primary" onclick="prepareData()">
                        Далее
                    </button>
                    <a class="btn btn-light" asp-controller="Floors" asp-action="Overview" asp-route-id="@ViewBag.FloorId">
                        Назад
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/image-map-creator.bundle.js"></script>
<script src="~/js/p5.min.js"></script>
<script src="~/js/p5.dom.min.js"></script>

<script defer>
    var mapCreator = new imageMapCreator("imageSelect", "@Html.Raw(Model.FloorImagePath)");
    
    function prepareData(){
        let map = JSON.parse(mapCreator.exportMap());
        let areas = map.map.areas;
        if (areas !== undefined && areas.length !== 0){
            areas = areas[0].coords;
        }
        else {
            areas = [];
        }
        console.log(JSON.stringify(areas));
        document.getElementById("roomMap").value = JSON.stringify(areas);
        document.getElementById("paramsNext").submit();
    }
</script>

<form id="paramsNext" class="d-none" asp-action="AddRoomSecondStep" method="post">
    <input id="floorId" name="floorId" value="@ViewBag.FloorId"/>
    <input id="roomMap" name="roomMap" />
</form>