﻿@model ClassroomFund.ScheduleUI.Controllers.RoomIndexViewModel

@{
    ViewBag.Title = "Аудитории";
    Layout = "_Layout";
    string buildingsNodeTemplate = "<div ${if(!IsRoot)} hx-get=\"/Room/OverviewEmbed/${Id}\" ${else} hx-get=\"/Buildings/BuildingOverview/${Id}\" ${/if} hx-target=\"#roomOverview\"  onclick=\"htmx.process(document.body)\"><div class=\"fw-bold\">${Name}</div></div>";
    string departmentsNodeTemplate = "<div ${if(!IsRoot)} hx-get=\"/Room/OverviewEmbed/${Id}\" ${else} hx-get=\"/Departments/OverviewEmbed/${Id}\" ${/if} hx-target=\"#roomOverview\"  onclick=\"htmx.process(document.body)\"><div class=\"fw-bold\">${Name}</div></div>";
}
<div class="row">
    <div class="col-md-4 border p-3">
        <div class="w-100">
            <h5 class="my-2">Список аудиторий</h5>
            <hr/>
            <div class="accordion accordion-flush" id="roomGrouping">
                <div class="accordion-item">
                    <h5 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#groupByBuildings" aria-expanded="true" aria-controls="groupByBuildings">
                            <span class="fs-5">Корпуса</span>
                        </button>
                    </h5>
                    <div id="groupByBuildings" class="accordion-collapse collapse show" data-bs-parent="#roomGrouping">
                        <div class="accordion-body">
                            <ejs-treeview id="listdata" class="shadow" nodeTemplate="@Html.Raw(buildingsNodeTemplate)" cssClass="w-100">
                                <e-treeview-fields dataSource="Model.RoomsTree" id="Id" parentId="BuildingId" text="Name" hasChildren="HasChild" expanded="expanded">
                                </e-treeview-fields>
                            </ejs-treeview>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#groupByDepartments" aria-expanded="false" aria-controls="groupByBuildings">
                            <span class="fs-5">Кафедры</span>
                        </button>
                    </h5>
                    <div id="groupByDepartments" class="accordion-collapse collapse show" data-bs-parent="#roomGrouping">
                        <div class="accordion-body">
                            <ejs-treeview id="depsListTree" class="shadow" nodeTemplate="@Html.Raw(departmentsNodeTemplate)" cssClass="w-100">
                                <e-treeview-fields dataSource="Model.DepartmentsTree" id="Id" parentId="DepartmentId" text="Name" hasChildren="HasChild" expanded="expanded">
                                </e-treeview-fields>
                            </ejs-treeview>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md border p-3">
        <div class="d-flex">
            <div class="control_wrapper AutoComplete-control-section flex-grow-1">
                <ejs-autocomplete id="roomsSearch" dataSource="Model.Rooms" placeholder="Полный номер аудитории" popupHeight="220px">
                    <e-autocomplete-fields value="RoomNumber"></e-autocomplete-fields>
                </ejs-autocomplete>
            </div>
            <ejs-button id="0x02" cssClass="e-flat e-primary mx-1" content="Поиск"></ejs-button>
        </div>
        <div id="roomOverview" class="w-100">

        </div>
    </div>
</div>