﻿@using ClassroomFund.ScheduleUI.Models.Users
@using Microsoft.AspNetCore.Identity
@using ClassroomFund.ScheduleUI.Infrastructure
@using ClassroomFund.Services.Classrooms.Interfaces
@using System.Text.Json
@using ClassroomFund.Models
@model ClassroomFund.ScheduleUI.Controllers.RoomOverviewViewModel
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signInManager;
@inject IFloorInfoService floorInfoServie;
@{
    var signedIn = signInManager.IsSignedIn(Context.User);
    var user = signedIn ? await userManager.GetUserAsync(Context.User) : null;
}
@{
    ViewBag.Title = $"Аудитория {Model.RoomInfo?.RoomNumber}";
}

<div class="row my-2">
    <div class="d-flex justify-content-between">
        <span>
            <p class="fw-bolder fs-3">Аудитория № @Model.RoomInfo?.RoomNumber</p>
        </span>
        @if (signedIn && await userManager.IsInRoleAsync(user, RolesConstants.AdminRole))
        {
            <div class="btn btn-group">
                <button class="btn btn-warning">Редактировать</button>
                <button class="btn btn-danger">Удалить</button>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md row-cols-sm-5">
        <div class="card w-100 m-1">
            <div class="card-header">
                <h5>Сводка:</h5>
            </div>
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <span class="fw-bold text-dark">Посадочных мест: </span> @Model.RoomInfo.Seats
                </div>
                <div class="list-group-item">
                    <span class="fw-bold text-dark">Площадь: </span> @Model.RoomInfo.Area;
                    <span class="fw-bold text-dark">На человека: </span>
                    @((Model.RoomInfo.Area / (double) Model.RoomInfo.Seats)?.ToString("F2")) м<sup>2</sup>;
                </div>
                @if (signedIn && !await userManager.IsInRoleAsync(user, RolesConstants.BasicRole))
                {
                    <div class="list-group-item">
                        <span class="fw-bold text-dark">Последний ремонт: </span> @Model.RoomInfo.LastMaintenance?.ToString("dd.MM.yyyy")
                    </div>
                }
                <div class="list-group-item">
                    <span class="fw-bold text-dark">Тип аудитории: </span> @(Model.RoomInfo.RoomType?.Name)
                </div>
                <div class="list-group-item">
                    <span class="fw-bold text-dark">Назначение аудитории: </span> @(Model.RoomInfo.RoomTarget?.TargetName)
                </div>
                <div class="list-group-item d-inline-flex justify-content-between">
                    <span>
                        <span class="fw-bold text-dark">Кафедра: </span> @(Model.RoomInfo.Department?.DepartmentName)
                    </span>
                    @if (signedIn && await userManager.IsInRoleAsync(user, RolesConstants.RectorRole))
                    {
                        <a class="link-primary" asp-controller="BatchRelocate" asp-action="Relocate" asp-route-roomId="@Model.RoomInfo.Id">Перезакрепить...</a>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (signedIn && !await userManager.IsInRoleAsync(user, RolesConstants.BasicRole))
    {
        <div class="col-md row-cols-sm-5">
            <div class="card w-100 m-1">
                <div class="card-header">
                    <h5>Карточка аудитории:</h5>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <span class="fw-bold text-dark">Потолок: </span> @Model.RoomInfo.InternalRoomProperties?.Ceiling
                    </div>
                    <div class="list-group-item">
                        <span class="fw-bold text-dark">Стены: </span> @Model.RoomInfo.InternalRoomProperties?.Walls
                    </div>
                    <div class="list-group-item">
                        <span class="fw-bold text-dark">Окна: </span> @Model.RoomInfo.InternalRoomProperties?.WindowsType
                    </div>
                    <div class="list-group-item">
                        <span class="fw-bold text-dark">Материал потолка: </span> @Model.RoomInfo.InternalRoomProperties?.FloorMaterial
                    </div>
                    <div class="list-group-item">
                        <span class="fw-bold text-dark">Двери: </span> @Model.RoomInfo.InternalRoomProperties?.Doors
                    </div>
                    <div class="list-group-item">
                        <span class="fw-bold text-dark">Светильников: </span> @Model.RoomInfo.InternalRoomProperties?.LampsCount
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        var floorInfo = await floorInfoServie.GetById(Model.RoomInfo.FloorId);
        string imageUrl = floorInfo.FloorImagePath;
        List<Point>? map = JsonSerializer.Deserialize<ImageMapping[]>(floorInfo.ClassroomToImageMapping)?.FirstOrDefault(e => e.ObjectId == Model.RoomInfo.Id.ToString())?.ImageBounds;
        <script>
            var map = JSON.parse('@Html.Raw(JsonSerializer.Serialize(map))');
        </script>
        <div class="col-md row-cols-sm-5">
            <div class="card w-100 m-1">
                <div class="card-header">
                    <h5>Схема этажа</h5>
                </div>
                <img id="mapImage" class="card-img-bottom" src="@Html.Raw(imageUrl)" alt="схема этажа"></img>
                <canvas id="locationCanvas">
                </canvas>
            </div>
        </div>
    }
    @if (signedIn && !await userManager.IsInRoleAsync(user, RolesConstants.BasicRole))
    {
        <div class="mt-3">
            <h5>Оборудование в аудитории</h5>
            <hr/>
            <div class="card">
                <div class="card-header">
                    Компьютеры: Lenovo Idea Pad 500
                </div>
                <div class="card-body">
                    <p>
                        Серийный номер: 1234
                    </p>
                    <p>
                        Приём: 10.10.2018
                    </p>
                </div>
                <div class="card-header">
                    Компьютеры: Lenovo Idea Pad 320
                </div>
                <div class="card-body">
                    <p>
                        Серийный номер: 12398
                    </p>
                    <p>
                        Приём: 10.10.2019
                    </p>
                </div>
            </div>

        </div>
    }

</div >
@if (signedIn && await userManager.IsInRoleAsync(user, RolesConstants.BasicRole))
{
    <script>
    let img = document.getElementById('mapImage');
    //or however you get a handle to the IMG
    let imageObject = new Image();
    imageObject.onload = function()
    {
        let canvas = document.getElementById("locationCanvas");
        let widthClient = canvas.clientWidth;
        let heightClient = canvas.clientHeight;
        // alert(widthClient + 'x' + heightClient);
        // alert(imageObject.width + 'x' + imageObject.height);
        let dx = widthClient / this.width;
        let dy = heightClient / this.height;
        console.log(canvas);
        let ctx = canvas.getContext('2d');
        ctx.drawImage(imageObject, 0, 0, this.naturalWidth, this.naturalHeight, 0, 0, widthClient, heightClient);
        ctx.fillStyle = 'rgba(54,241,205,0.39)';
        for (let i = 0; i < map.length; i++)
        {
            ctx.beginPath();
            ctx.moveTo(map[i].x * dx, map[i].y * dy);
        }
        ctx.closePath();
        ctx.fill();
    }
    imageObject.src = img.src;
    </script>
}
