﻿@using System.Globalization
@using ClassroomFund.ScheduleUI.Infrastructure
@using ClassroomFund.ScheduleUI.Models.Users
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ClassroomFund.Models.Building
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signInManager;
@{
    var signedIn = signInManager.IsSignedIn(Context.User);
    var user = signedIn ? await userManager.GetUserAsync(Context.User) : null;
}

<script id="external_script" type="text/javascript"></script>
<script id="leaflet_script"></script>
<script>
    document.getElementById('leaflet_script').src = '/js/leaflet.js';
    document.getElementById('external_script').src = '/js/map_init.js';
    document.getElementById('external_script').onload = () => searchAndFill('@Model.Address.ToString(new CultureInfo("ru_RU"))');
</script>

<div class="row w-100">
    <div class="col">
        <h3>
            Информация о: "@Model.Name"
        </h3>
        <div class="card">
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <span class="fw-bold text-dark">Адрес:</span> @Model.Address
                </div>
            </div>
            <div class="card-header">
                <h4>Этажи</h4>
            </div>
            <div class="list-group list-group-flush">
                @foreach (var floorInfo in Model.FloorInfoes.OrderBy(e => e?.FloorNumber).ToList())
                {
                    <div class="list-group-item d-inline-flex justify-content-center">
                        <div class="flex-grow-1">
                            <span class="fw-bold text-dark">Этаж</span> @floorInfo.FloorNumber
                        </div>
                        <div class="flex-grow-1">
                            <a class="btn btn-sm btn-primary  w-75" asp-controller="Floors" asp-action="Overview" asp-route-id="@floorInfo.Id">Просмотр</a>
                        </div>
                        @if (signedIn && await userManager.IsInRoleAsync(user, RolesConstants.AdminRole))
                        {
                            <div class="btn-group btn-group-sm" role="group">
                                <button class="btn btn-sm btn-light">Ред.</button>
                                <button class="btn btn-sm btn-warning">Удалить</button>
                            </div>
                        }
                    </div>
                }
                @if (signedIn && await userManager.IsInRoleAsync(user, RolesConstants.AdminRole))
                {
                    <div class="list-group-item d-inline-flex justify-content-center">
                        <a class="btn btn-primary" asp-controller="Floors" asp-action="AddFloorFirstStep" asp-route-buildingId="@Model.Id">Добавить новый этаж</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-4">
        <h4>Расположение корпуса</h4>
        <div id="map" style="height: 200px;"></div>
    </div>
</div>