﻿@using Microsoft.AspNetCore.Identity
@using ClassroomFund.ScheduleUI.Models.Users
@using ClassroomFund.Services
@model ClassroomFund.ScheduleUI.Controllers.MainModel
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signInManager;
@inject OverviewService overviewService;

@{
    var itemTemplate = "<div hx-get=\"/Buildings/BuildingOverview/${Id}\" hx-target=\"#buildingsView\" hx-swap=\"innerHTML\" hx-trigger=\"click\">${Name}</div>";
    var isLoggedIn = signInManager.IsSignedIn(Context.User);
    var overview = await overviewService.GetOverview();
}

<div class="row my-1">
    <div class="col-2">
        @if (isLoggedIn)
        {
            <h3>Поиск</h3>
            <hr/>
            <div class="my-1">
                <ejs-autocomplete id="games" dataSource="@ViewBag.data" placeholder="Кафедра или номер аудитории" class="border border-light border-1">
                    <e-data-manager adaptor="WebApiAdaptor" url="https://ej2services.syncfusion.com/production/web-services/api/Employees" crossDomain="true"></e-data-manager>
                    <e-autocomplete-fields value="FirstName"></e-autocomplete-fields>
                </ejs-autocomplete>
            </div>
        }

        <h3>Корпуса</h3>
        <hr/>
        <ejs-listview enable="true" id="listview" dataSource="Model.Buildings" template="@itemTemplate">
            <e-listview-fieldsettings text="Name">
            </e-listview-fieldsettings>
        </ejs-listview>
        <div class="e-card my-1 my-md-2 shadow border-1">
            <div class="e-card-content">
                Для продолжения выберите либо номер корпуса, либо воспользуйтесь поиском конкретной аудитории.
            </div>
        </div>
    </div>
    <div class="col" id="buildingsView">
        <div class="card">
            <div class="card-header">
                <h2>
                    Сводка по университету
                </h2>
            </div>
            <div class="card-body">
                <h5>
                    В распоряжении университета:
                </h5>
                <hr/>
                <p>
                    Корпусов: @overview.BuildingsNumber
                </p>
                <hr/>
                <p>
                    Аудиторий: @overview.RoomsCount
                </p>
                <hr/>
                <p>
                    Общая площадь помещений: @Html.Raw(overview.TotalArea.ToString("F2"))
                </p>
            </div>
        </div>
    </div>
</div>