﻿@{
    ViewData["Title"] = "Home Page";
}

<div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <div class="e-card-header-caption">
            <div class="e-card-header-title">Advanced UWP</div>
        </div>
    </div>
    <div class="e-card-content">
        Advanced UWP: Communicating with Windows 10 and Other Apps, the second in a five-part series written by Succinctly series
        author Matteo Pagani. To download the complete white paper, and other papers in the series, visit
        the White Paper section of Syncfusion’s Technology Resource Portal.
    </div>
</div>

    <div class=" control-section">
        <div class="calender-section">
            <div id="calender-control">
                <ejs-calendar id="calendar" change="valueChange"></ejs-calendar>
                <br>
                <span id="date_label"> Selected Value: </span>
            </div>
        </div>
    </div>

<script>
    function valueChange(args) {
    /*Displays selected date in the label*/
        var intl = new ej.base.Internationalization();
        var value = intl.formatDate(args.value, { type: 'dateTime', format: 'dd/MM/yyyy' });
        (document.getElementById('date_label')).textContent = 'Selected Value: ' + value;
    }
</script>

