﻿@model dynamic

@{
    ViewBag.Title = "Справочник свойств оборудования";
    Layout = "_Layout";
}

<h2>Список всех свойств</h2>
<hr/>
<div class="row">
    <div class="col">
        <ejs-grid id="roomTargetGrid" toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" }) ">
            <e-grid-editSettings allowDeleting="true" allowEditing="true" allowAdding="true"></e-grid-editSettings>
            <e-data-manager url="@Url.Action("GetAll", "EquipmentPropertiesApi")" adaptor="WebApiAdaptor" crossdomain="true"></e-data-manager>
            <e-grid-columns>
                <e-grid-column field="Id" headerText="ID" type="string" maxWidth="200" isPrimaryKey="true" isIdentity="true" allowEditing="false" defaultValue="Guid.Empty"></e-grid-column>
                <e-grid-column field="Name" headerText="Назначение" type="string" maxWidth="200"></e-grid-column>
                <e-grid-column field="Type" headerText="Тип" type="string" maxWidth="200" editType="dropdownedit"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

    </div>
</div>