﻿@model ClassroomFund.ScheduleUI.Controllers.EmployeesIndexViewModel

<ejs-grid id="Grid" dataSource="@Model.Employees" allowPaging="true" enableImmutableMode="true" locale="ru-RU">
    <e-grid-columns>
        <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" textAlign="Right"></e-grid-column>
        <e-grid-column field="FullName" headerText="ФИО"></e-grid-column>
        <e-grid-column field="EmployeeTitleId" foreignKeyField="Id" foreignKeyValue="TitleName" headerText="Должность" dataSource="@Model.Titles"></e-grid-column>
        <e-grid-column field="Id" template="#manipulationColumn"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script id="manipulationColumn" type="text/x-template">
    <div class="btn btn-group">
        <button class="btn btn-warning">Редактировать</button>
        <button class="btn btn-danger">Удалить</button>
    </div>
</script>