﻿@using ClassroomFund.ScheduleUI.Infrastructure
@using ClassroomFund.ScheduleUI.Models.Users
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Syncfusion.EJ2
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signInManager;
@{
    var user = await userManager.GetUserAsync(Context.User);
    var roles = user != null ? await userManager.GetRolesAsync(user) : new List<string>();
}
<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] Аудиторный фонд ГГТУ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/bootstrap5.css" asp-append-version="true"/>
    <script src="~/js/ej2.min.js"></script>
    <link rel="stylesheet" href="~/css/leaflet.css" asp-append-version="true"/>
</head>
<body class="d-flex flex-column h-100 my-0">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom shadow mb-2">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Аудиторный фонд</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (signInManager.IsSignedIn(Context.User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Buildings" asp-action="Index">Корпуса</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Room" asp-action="Index">Аудитории</a>
                        </li>
                        @*<li class="nav-item dropdown">
                            <a class="nav-link" asp-area="" asp-controller="Requests" asp-action="Index">Заявки</a>
                        </li>*@
                        @if (await userManager.IsInRoleAsync(user, RolesConstants.AdminRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="userManagmentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Пользователи
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="userManagmentDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Employees" asp-action="Index">Профили</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="UserManagement" asp-action="Index">Управление пользователями</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (await userManager.IsInRoleAsync(user, RolesConstants.SecretaryRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="equipmentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Оборудование
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="equipmentDropdown">
                                    @if (await userManager.IsInRoleAsync(user, RolesConstants.AdminRole))
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-controller="EquipmentProperty" asp-action="Index">Справочник свойств</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="EquipmentType" asp-action="Index">Категории оборудования</a>
                                        </li>
                                    }
                                    <li>
                                        <a class="dropdown-item" asp-controller="Equipment" asp-action="Index">Обзор</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (roles.Contains(RolesConstants.AdminRole) || roles.Contains(RolesConstants.RectorRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Departments" asp-action="Index">Кафедры</a>
                            </li>
                        }
                        @if (roles.Contains(RolesConstants.SecretaryRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Departments" asp-action="MyDepartmentOverview">Моя кафедра</a>
                            </li>
                        }
                        @if (User.IsInRole(RolesConstants.AdminRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Constants" asp-action="Index">Константы</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="navbar d-sm-inline-flex justify-content-between">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-muted">
        &copy; 2022 - Казутин Павел, <a href="mailto:me@ktsin.xyz">me@ktsin.xyz</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/htmx.min.js" defer></script>
<ejs-scripts></ejs-scripts>
<script src="~/js/localize.js"></script>
<script defer="defer">
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>