﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Вход в систему";
}


<div class="d-md-flex justify-content-center">
    <div class="col">
        <h2>@ViewData["Title"]</h2>
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating my-1">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating my-1">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">Пароль</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox my-1">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Запомнить?
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Войти!</button>
                </div>
                <div class="d-flex justify-content-around p-2">
                    <div>
                        <a class="btn btn-primary" id="forgot-password" asp-page="./ForgotPassword">Восстановление доступа</a>
                    </div>
                    <div>
                        <a class="btn btn-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
                    </div>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
