﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подверждение регистрации";
}

<h1>@ViewData["Title"]</h1>


<p>
    Если не требуется подверждение регистрации от администраторов, то вам придёт на почту письмо с ссылкой для активации учётной записи
</p>