﻿@model dynamic

@{
    ViewBag.Title = "Перезакрепление аудиторий";
    Layout = "_Layout";
}

<h2>Пакетное переназначение аудиторий</h2>
<hr/>
<div class="row">
    <div class="col">
        <div class="e-js-card">
            <div class="e-js-card-header">
                
            </div>
        </div>
    </div>
</div>
