﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ClassroomFund.ScheduleUI.Controllers.RelocateModel

@{
    ViewBag.Title = "Перезакрепление аудитории :";
    Layout = "_Layout";

}

<h3>Перезакрепление аудитории</h3>
<hr/>
<form asp-action="RelocatePost" id="relocatePostFormId">
    <div class="row">
        <div class="col-3">
            <div class="card my-2">
                <div class="card-header">
                    <h5>
                        Аудитория: @Model.TargetRoom.RoomNumber
                    </h5>
                </div>
                <div class="card-body">
                    @Model.SourceDepartment.DepartmentName
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card w-100">
                <div class="card-header">
                    <h6>
                        Выберите целевую кафедру:
                    </h6>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var e in Model.ListOfDepartments)
                    {
                        <li class="list-group-item">
                            <input type="radio" asp-for="NewDepartmentId" value="@e.Id" class="my-2" checked/>
                            @(e?.DepartmentName)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="w-100 d-flex justify-content-md-end my-3">
                <button class="btn btn-primary w-25 mx-3" onclick="handleFormSubmit('saveAndPrint')">Сохранить и сгенерировать приложение</button>
                <button class="btn btn-primary w-25 mx-3" onclick="handleFormSubmit('saveAndGo')">Сохранить и вернуться назад</button>
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="RedirectUrl" id="redirectUrlInput"/>
    <input type="hidden" asp-for="RoomId" value="@Model.TargetRoom.Id"/>
</form>

<script>
    function handleFormSubmit(redirectType){
        if (redirectType === 'saveAndGo'){
            document.getElementById('redirectUrlInput').value = '@Url.Action("Overview", "Room", new {id = Model.TargetRoom.Id.ToString("D")})';
            document.getElementById('relocatePostFormId').submit();
        }
        if (redirectType === 'saveAndPrint'){
            document.getElementById('redirectUrlInput').value = '@Url.Action("Overview", "Room", new {id = Model.TargetRoom.Id.ToString("D")})';
            document.getElementById('relocatePostFormId').submit();
        }
    }
</script>