﻿@model ClassroomFund.ScheduleUI.Controllers.EditPropertyModalModel

<h2>Свойства</h2>
<form hx-post="@Url.Action("EditPost", "EquipmentType", new {Model.EquipmentType.Id})" 
                  hx-target="#modalEditProperties">
    @foreach (var e in Model.Options)
    {
        <p>
            <input type="checkbox" id="@e.Value" name="props" value="@e.Value" checked="@e.Selected"/>
            <label for="@e.Value">@e.Text</label>
        </p>
    }
    <button class="btn btn-primary" 
            >Сохранить изменения</button>
</form>