﻿@model dynamic

@{
    ViewBag.Title = "Типы оборудования";
    Layout = "_Layout";
}
<div class="row">
    <div class="col">
        <h2>Типы оборудования</h2>
        <hr/>
        <div class="control-section">
            <ejs-grid id="roomTargetGrid" toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" })" dataStateChange="loadModalContent">
                <e-grid-editSettings allowDeleting="true" allowEditing="true" allowAdding="true" mode="Dialog"></e-grid-editSettings>
                <e-data-manager url="@Url.Action("GetAll", "EquipmentTypesApi")" adaptor="WebApiAdaptor" crossdomain="true"></e-data-manager>
                <e-grid-columns>
                    <e-grid-column field="Id" headerText="ID" type="string" maxWidth="200" isPrimaryKey="true" isIdentity="true" allowEditing="false" defaultValue="Guid.Empty"></e-grid-column>
                    <e-grid-column field="TypeName" headerText="Тип" type="string" maxWidth="200"></e-grid-column>
                    <e-grid-column field="PropertiesString" headerText="Поля свойств" type="string" allowEditing="false" disabled  maxWidth="200"></e-grid-column>
                    <e-grid-column headerText="Дейсвтвия" type="string" maxWidth="200" allowEditing="false" template="#editPropertiesTemplate"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditProperties" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Свойства</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="propertiesModalEdit">
        Загрузка...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Отмена</button>
      </div>
    </div>
  </div>
</div>

<script type="text/x-template" id="editPropertiesTemplate">
    <button id="${Id}" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditProperties" onclick="loadModalContent('${Id}')" hx-get="/EquipmentType/Edit/${Id}" hx-target="#propertiesModalEdit">Редактировать свойства</button>
</script>
<script defer="defer">
    function loadModalContent(id) {
        htmx.process(document.body);
        htmx.trigger('#' + id, 'load');
    }
    document.body.onloadeddata = loadModalContent;
    document.body.onended = loadModalContent;
    
</script>
