html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-primary {
    background-color: #0d47a1 !important;
}

.btn-primary {
    background-color: #0d47a1 !important;
}
