﻿@model dynamic

@{
    ViewBag.Title = "Управление константами";
    Layout = "_Layout";
}

<h2>Управление константами</h2>
<hr/>
<div class="row">
    <div class="col">
        <div class="accordion accordion-flush" id="constantsCollapsableView">
            <div class="accordion-item">
                <h2 class="accordion-header" id="employeeTitleHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#employeeTitlesCollapseArea" aria-expanded="false" aria-controls="employeeTitlesCollapseArea">
                        Должности
                    </button>
                </h2>
                <div id="employeeTitlesCollapseArea" class="accordion-collapse collapse" aria-labelledby="employeeTitleHeader" data-bs-parent="#constantsCollapsableView">
                    <div class="accordion-body">
                        <ejs-grid id="employeeTitleGrid" toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" }) ">
                            <e-grid-editSettings allowDeleting="true" allowEditing="true" allowAdding="true"></e-grid-editSettings>
                            <e-data-manager url="@Url.Action("GetEmployeeTitles", "ConstantsApi")" adaptor="WebApiAdaptor" crossdomain="true"></e-data-manager>
                            <e-grid-columns>
                                <e-grid-column field="Id" headerText="ID" type="number" maxWidth="200" isPrimaryKey="true" isIdentity="true" allowEditing="false" editType="number"></e-grid-column>
                                <e-grid-column field="TitleName" headerText="Должность" type="string" maxWidth="200"></e-grid-column>
                            </e-grid-columns>
                        </ejs-grid>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="roomTypeHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#roomTypeCollapseArea" aria-expanded="false" aria-controls="roomTypeCollapseArea">
                        Тип аудитории
                    </button>
                </h2>
                <div id="roomTypeCollapseArea" class="accordion-collapse collapse" aria-labelledby="roomTypeHeader" data-bs-parent="#constantsCollapsableView">
                    <div class="accordion-body">
                        <ejs-grid id="roomTypeGrid" toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" }) ">
                            <e-grid-editSettings allowDeleting="true" allowEditing="true" allowAdding="true"></e-grid-editSettings>
                            <e-data-manager url="@Url.Action("GetRoomTypes", "ConstantsApi")" adaptor="WebApiAdaptor" crossdomain="true"></e-data-manager>
                            <e-grid-columns>
                                <e-grid-column field="Id" headerText="ID" type="string" maxWidth="200" isPrimaryKey="true" isIdentity="true" allowEditing="false" defaultValue="Guid.Empty"></e-grid-column>
                                <e-grid-column field="Name" headerText="Должность" type="string" maxWidth="200"></e-grid-column>
                            </e-grid-columns>
                        </ejs-grid>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="roomTargetHeader">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#roomTargetCollapseArea" aria-expanded="false" aria-controls="roomTargetCollapseArea">
                        Назначение аудитории
                    </button>
                </h2>
                <div id="roomTargetCollapseArea" class="accordion-collapse collapse" aria-labelledby="roomTargetHeader" data-bs-parent="#constantsCollapsableView">
                    <div class="accordion-body">
                        <ejs-grid id="roomTargetGrid" toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" }) ">
                            <e-grid-editSettings allowDeleting="true" allowEditing="true" allowAdding="true"></e-grid-editSettings>
                            <e-data-manager url="@Url.Action("GetRoomTargets", "ConstantsApi")" adaptor="WebApiAdaptor" crossdomain="true"></e-data-manager>
                            <e-grid-columns>
                                <e-grid-column field="Id" headerText="ID" type="number" maxWidth="200" isPrimaryKey="true" isIdentity="true" allowEditing="false" defaultValue="0"></e-grid-column>
                                <e-grid-column field="TargetName" headerText="Назначение" type="string" maxWidth="200"></e-grid-column>
                            </e-grid-columns>
                        </ejs-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>