﻿@model dynamic

@{
    ViewBag.Title = "Кафедры";
    Layout = "_Layout";
}

<h2>Список отделов</h2>
<hr/>
<ejs-grid id="DepartmentsGrid" toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" })">
    <e-data-manager url="/api/Departments" adaptor="WebApiAdaptor" crossdomain="true"></e-data-manager>
    <e-grid-editSettings allowDeleting="true" allowEditing="true" allowAdding="true"></e-grid-editSettings>
    <e-grid-columns>
        <e-grid-column field="Id" headerText="ID" type="integer" isPrimaryKey="true" allowEditing="false" autoFit="true"></e-grid-column>
        <e-grid-column field="DepartmentName" headerText="Название" type="string"></e-grid-column>
        <e-grid-column headerText="Действия" template="#manipulationColumn" allowEditing="false"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script id="manipulationColumn" type="text/x-template">
    <div class="btn btn-group m-0">
        <a class="btn" href="/Departments/${Id}" title="Дополнительная информация"><span class="e-icons e-zoom-to-fit"></span></a>
        <a class="btn btn-warning" href="/Departments/${Id}/Edit" title="Редактировать дополнительную информацию"><span class="e-icons e-properties-1"></span></a>
    </div>
</script>