﻿@model ClassroomFund.Models.Department

@{
    Layout = "_Layout";
    ViewBag.Title = $"{Model.DepartmentName}";
}

<h2>Обзор кафедры "@Model.DepartmentName"</h2>
<hr/>
<div class="d-flex justify-content-center my-2">
    <a class="btn btn-primary mx-2" asp-controller="Reports" asp-action="EquipmentByDepartment" asp-route-id="@Model.Id">
        Печать отчёта для инвентаризации
    </a>
    <a class="btn btn-primary mx-2">
        Печать отчёта для инвентаризации
    </a>
</div>
<div class="card">
    <div class="card-header">
        Аудитории кафедры
    </div>
    <div class="card-body">
        @if (Model.Rooms != null)
        {
            @foreach (var r in Model.Rooms)
            {
                <p>
                    @r.RoomNumber
                    <a asp-action="Overview" asp-controller="Room" asp-route-id="@r.Id">
                        Просмотр
                    </a>
                </p>
            }
        }
    </div>


</div>