﻿@using Syncfusion.EJ2.DropDowns
@model ClassroomFund.ScheduleUI.Controllers.AddFloorFirstStepViewModel

@{
    ViewBag.Title = "Добавление этажа";
    Layout = "_Layout";
    var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings {SaveUrl = @Url.Action("Upload", "ImageApi")};
}

<h2>Добавление информации об этаже</h2>
<hr/>
<div class="row">
    <div class="col-4">
        <div class="e-card">
            <div class="e-card-header">
                Загрузите изображение
            </div>
            <div class="e-card-content">
                <ejs-uploader id="mainFile" allowedExtensions=".jpg,.png,.jpeg" autoUpload="true" asyncSettings="asyncSettings" success="onUploadSuccess" multiple="false" minFileSize="100">
                </ejs-uploader>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="e-card">
            <div class="e-card-header">
                Предпросмотр
            </div>
            <div class="e-card-content">
                <img style="display: none;" width="100%" id="previewImage" alt="Предпросмотр"/>
            </div>
        </div>
        <form asp-action="AddFloorPost" id="addFloorIdForm" method="post">
            <input type="hidden" asp-for="FloorInfo.FloorNumber" value="@Model.LatestFloorNumber"/>
            <input type="hidden" asp-for="FloorInfo.ClassroomToImageMapping" value="@Model.FloorInfo.ClassroomToImageMapping"/>
            <input type="hidden" asp-for="FloorInfo.Building" value="@Model.FloorInfo.Building"/>
            <input type="hidden" id="floorImagePath" asp-for="FloorInfo.FloorImagePath"/>
            <input type="hidden" asp-for="FloorInfo.Id" value="@Model.FloorInfo.Id"/>
            <input type="hidden" id="redirectUrlInput" asp-for="RedirectToUrl" value=""/>
        </form>
    </div>
</div>
<div class="row">
    <div class="d-flex justify-content-center my-2">
        <button class="btn btn-primary mx-2"
                onclick="handleFormButtonClick('@Url.Action("AddRoomFirstStep", "Room")' + '?floorId=@(Model.FloorInfo.Id)')">
            Сохранить и добавить аудиторию
        </button>
        <button class="btn btn-primary mx-2"
                onclick="handleFormButtonClick('@Url.Action("Overview", "Floors")' + '/@(Model.FloorInfo.Id)')">
            Сохранить и перейти к обзору этажа
        </button>
    </div>
</div>

<script>
    var imageResponse = undefined;
    function onUploadSuccess(e){
        imageResponse = e;
        let url = JSON.parse(imageResponse.e.srcElement.response).url;
        document.getElementById("floorImagePath").value = url;
        document.getElementById("previewImage").src = url;
        document.getElementById("previewImage").style = "";
        
    }
    function handleFormButtonClick(url){
        document.getElementById("redirectUrlInput").value = url;
        document.getElementById("addFloorIdForm").submit();
    }
</script>