﻿@using ClassroomFund.ScheduleUI.Models.Users
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ClassroomFund.ScheduleUI.Infrastructure
@model ClassroomFund.ScheduleUI.Controllers.OverviewViewModel
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signInManager;
@{
    var signedIn = signInManager.IsSignedIn(Context.User);
    var user = signedIn ? await userManager.GetUserAsync(Context.User) : null;
}
@{
    Layout = "_Layout";
    ViewBag.Title = "Информация об этаже";
}

<h2>Этаж @Model.FloorInfo.FloorNumber.ToString(), @Model.FloorInfo.BuildingNavigation?.Name</h2>
<div class="row">
    <div class="col d-flex justify-content-center">
        <img src="@Model.FloorInfo.FloorImagePath" class="w-100 border my-2" alt="Схема этажа"/>
    </div>
    
    <div class="row-cols-md-2 col-lg-4">
        @if (signedIn && await userManager.IsInRoleAsync(user, RolesConstants.AdminRole))
        {
            <div class="card w-100">
                <div class="card-header">
                    <h4>
                        Управление
                    </h4>
                </div>
                <div class="list-group list-group-flush">
                    <button class="list-group-item btn-outline-primary">Редактировать</button>
                    <button class="list-group-item btn-outline-danger">Удалить</button>
                </div>
            </div>
        }
        <div class="e-card w-100 my-3 shadow">
            <div class="e-card-content">
                Для переходя к конкретной аудитории наведите мышь на нужную аудиторию или выберите аудиторию ниже
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card p-0">
        <div class="card-header">
            Аудитории на этаже:
        </div>
        <div class="list-group list-group-flush">
            @if (Model.Rooms != null)
            {
                @foreach (var room in Model.Rooms)
                {
                    <div class="list-group-item d-inline-flex justify-content-center">
                        <div class="flex-grow-1">
                            <span class="fw-bold text-dark">Аудитория</span> @room.RoomNumber
                        </div>
                        <div class="flex-grow-1">
                            <a class="btn btn-sm btn-primary  w-75" asp-controller="Room" asp-action="Overview" asp-route-id="@room.Id">Просмотр</a>
                        </div>
                        @if (signedIn && await userManager.IsInRoleAsync(user, RolesConstants.AdminRole))
                        {
                            <div class="btn-group btn-group-sm" role="group">
                                <button class="btn btn-sm btn-light">Ред.</button>
                                <button class="btn btn-sm btn-warning">Удалить</button>
                            </div>
                        }
                    </div>
                }
            }
            @if (signedIn && await userManager.IsInRoleAsync(user, RolesConstants.AdminRole))
            {
                <div class="list-group-item d-inline-flex justify-content-center">
                    <a class="btn btn-primary" asp-controller="Room" asp-action="AddRoomFirstStep" asp-route-floorId="@Model.FloorInfo.Id">Добавить новую аудиторию</a>
                </div>
            }
        </div>
    </div>
</div>